*{margin:0px;padding:0px}

.wrapper{
	width:1200px;
	font-family:sans-serif;
	margin: auto;
}

.header{
	background-image:url("../Images/Contact_us_Background_Image.jpg");
	height: 500px;
}

.company_logo{display:inline}
.company_logo img{
	width: 150px;
	margin-left:100px;
}

.nav_bar{
	display: inline-block;
    margin-left: 250px;
}

.nav_bar ul li a{
	text-decoration: none;
	color: black;
}


.nav_bar ul li a:hover{
	color: #0200fe;
}

.nav_bar,.nav_bar_for_footer ul li a:hover{
	color: #0200fe;
}

.nav_bar li{
	float: left;
    padding: 15px;
}
.nav_bar ul{
	list-style-type: none;
}

.heading{
	text-align: center;
    margin-top: 200px;
    font-size: 40px;
    font-family: fangsong;
	font-weight:600;
}



.inner_section{
	width:1050px;
	margin:auto;
}

.boxes{
    margin-top: 70px;
}

.box{
	margin:0px 0px 50px 10px;
    width: 250px;
    float: left;
    background-color: #cce8f4;
	position:relative;
}

.box_icons{
	height: 40px;
    width: 40px;
    position: absolute;
    top: -20px;
	border: solid #cce8f4;
}
.box span{
	margin-bottom: 20px;
    display: block;
	font-weight: 800;
}

.box_icons img{background-color:#cce8f4}
.icon{display:inline-block;margin-left: 103px;}
.box_content{text-align:center;margin: 25px;}


.line{
	display: inline-block;
    width: 175px;
    height: 0px;
    border: 2px solid #cce8f4;
	margin-bottom: 4px;
}

form{
    display: inline-block;
    margin-left: 300px;
    margin-top: 100px;
    color: #4db8e6;
}

.input{
    margin: 20px 0px 20px 0px;
}

form input{
	width: 441px;
    background-color: #d3d7d9;
    border: none;
    height: 25px;
    outline: none;
	caret-color:#29c1c1;
}

textarea{
	background-color: #d3d7d9;
	border: none;
    outline: none;
	caret-color:#29c1c1;
}

button{
	margin: 20px 0px 20px 0px;
	width: 441px;
    background-color: #cce8f4;
    border: none;
    height: 35px;
    cursor: pointer;
}

.map img{
	width: 1200px;
    height: 400px;
}

footer{
	background-color:#242121;
}

.Small_icon_links{float:right;margin-right: 100px;margin-top: 40px;}
.Small_icon_links img{
	height: 41px;
    width: 39px;
}
.Small_icon_links a{
	display:inline-block;
	height: 21px;
    margin: 0px 6px;
}

.nav_bar_for_footer{
	background-color:black;
}

.nav_bar_for_footer ul li a{
	text-decoration: none;
	color: white;
}

.nav_bar_for_footer li{
    padding: 15px;
	float:left;
}

.nav_bar_for_footer ul{
    list-style-type: none;
    margin-left: 100px;
}

.clear{
	clear:both;
}